# Import Libraries and Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [6]:
#Import Data
path = r'C:\Users\Samantha Ramos\Desktop\Restaurant Rating Analysis'

In [8]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2023 Restaurant Inspection Results.csv'), index_col = False)

In [9]:
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,Census Tract,BIN,BBL,NTA,Location Point1,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,50064444,CROWN FRIED CHICKEN,Brooklyn,818,NOSTRAND AVENUE,11216.0,3474353450,Chicken,1/3/2023,Violations were cited in the following area(s).,...,31702.0,3032632.0,3.012610e+09,BK61,NaN,NaN,NaN,NaN,NaN,NaN
1,50130744,BAGEL BOB,Brooklyn,2114,FLATBUSH AVENUE,11234.0,6176331271,Bagels/Pretzels,1/3/2023,Violations were cited in the following area(s).,...,65000.0,3219574.0,3.078660e+09,BK58,NaN,NaN,NaN,NaN,NaN,NaN
2,50073698,MIZNON,Manhattan,75,9 AVENUE,10011.0,6469546904,Mediterranean,1/3/2023,Violations were cited in the following area(s).,...,8300.0,1012541.0,1.007130e+09,MN13,NaN,NaN,NaN,NaN,NaN,NaN
3,50123224,I AM KIMCHI,Queens,4514,162ND ST,11358.0,3155385285,Korean,1/3/2023,Violations were cited in the following area(s).,...,119100.0,4123231.0,4.054400e+09,QN52,NaN,NaN,NaN,NaN,NaN,NaN
4,41219793,THE MONKEY ROOM,Manhattan,589,FORT WASHINGTON AVENUE,10033.0,2125439888,American,1/3/2023,Violations were cited in the following area(s).,...,27300.0,1064357.0,1.021790e+09,MN35,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#check column names
df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA', 'Location Point1', 'Zip Codes', 'Community Districts',
       'Borough Boundaries', 'City Council Districts', 'Police Precincts'],
      dtype='object')

In [11]:
#count rows and columns
df.shape

(85626, 32)

In [75]:
df.dtypes

CAMIS                       int64
DBA                        object
BORO                       object
BUILDING                   object
STREET                     object
ZIPCODE                   float64
PHONE                      object
CUISINE DESCRIPTION        object
INSPECTION DATE            object
ACTION                     object
VIOLATION CODE             object
VIOLATION DESCRIPTION      object
CRITICAL FLAG              object
SCORE                     float64
GRADE                      object
GRADE DATE                 object
RECORD DATE                object
INSPECTION TYPE            object
Latitude                  float64
Longitude                 float64
Community Board           float64
Council District          float64
Census Tract              float64
BIN                       float64
BBL                       float64
NTA                        object
Location Point1           float64
Zip Codes                 float64
Community Districts       float64
Borough Boundaries        float64
City Council Districts    float64
Police Precincts          float64
dtype: object

In [12]:
df.describe()

,CAMIS,ZIPCODE,SCORE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,Location Point1,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
count,8.562600e+04,84747.000000,81642.000000,85513.000000,85513.000000,84564.000000,84566.000000,84566.000000,8.412300e+04,8.544300e+04,0.0,0.0,0.0,0.0,0.0,0.0
mean,4.802113e+07,10700.079779,25.399659,40.308338,-73.182308,254.767088,20.752040,29727.523768,2.579849e+06,2.473936e+09,NaN,NaN,NaN,NaN,NaN,NaN
std,3.781927e+06,593.168227,18.091725,4.108457,7.458540,130.785013,15.846797,31711.646932,1.357154e+06,1.343007e+09,NaN,NaN,NaN,NaN,NaN,NaN
min,3.007544e+07,10000.000000,0.000000,0.000000,-74.248708,101.000000,1.000000,100.000000,1.000000e+06,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,5.000335e+07,10023.000000,12.000000,40.684142,-73.989256,106.000000,4.000000,7800.000000,1.051646e+06,1.010738e+09,NaN,NaN,NaN,NaN,NaN,NaN
50%,5.008878e+07,11004.000000,21.000000,40.731026,-73.957200,302.000000,20.000000,16900.000000,3.019764e+06,3.007920e+09,NaN,NaN,NaN,NaN,NaN,NaN
75%,5.012106e+07,11230.000000,33.000000,40.761126,-73.897020,401.000000,34.000000,41700.000000,4.009184e+06,4.005880e+09,NaN,NaN,NaN,NaN,NaN,NaN
max,5.014524e+07,11697.000000,168.000000,40.910473,0.000000,503.000000,51.000000,162100.000000,5.799501e+06,5.270001e+09,NaN,NaN,NaN,NaN,NaN,NaN

# Drop Columns

In [13]:
#drop unnecessary columns
df_1 = df.drop(columns = {'CAMIS', 'BUILDING', 'STREET', 'PHONE', 'Community Board', 'Council District', 'Census Tract', 'BIN',
                  'BBL', 'NTA', 'Location Point1', 'Zip Codes', 'Community Districts', 'Borough Boundaries',
                  'City Council Districts', 'Police Precincts'})

In [14]:
df_1

,DBA,BORO,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,Latitude,Longitude
0,CROWN FRIED CHICKEN,Brooklyn,11216.0,Chicken,1/3/2023,Violations were cited in the following area(s).,10B,Anti-siphonage or back-flow prevention device ...,Not Critical,29.0,C,1/3/2023,2/5/2024,Cycle Inspection / Re-inspection,40.670640,-73.950440
1,BAGEL BOB,Brooklyn,11234.0,Bagels/Pretzels,1/3/2023,Violations were cited in the following area(s).,08A,Establishment is not free of harborage or cond...,Not Critical,26.0,NaN,NaN,2/5/2024,Pre-permit (Operational) / Initial Inspection,40.618342,-73.932203
2,MIZNON,Manhattan,10011.0,Mediterranean,1/3/2023,Violations were cited in the following area(s).,10B,Anti-siphonage or back-flow prevention device ...,Not Critical,12.0,A,1/3/2023,2/5/2024,Cycle Inspection / Re-inspection,40.741869,-74.004713
3,I AM KIMCHI,Queens,11358.0,Korean,1/3/2023,Violations were cited in the following area(s).,05D,No hand washing facility in or adjacent to toi...,Critical,26.0,NaN,NaN,2/5/2024,Pre-permit (Operational) / Initial Inspection,40.755734,-73.804625
4,THE MONKEY ROOM,Manhattan,10033.0,American,1/3/2023,Violations were cited in the following area(s).,10F,Non-food contact surface or equipment made of ...,Not Critical,9.0,A,1/3/2023,2/5/2024,Cycle Inspection / Initial Inspection,40.854623,-73.937051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85621,Padoca Bakery,Manhattan,10013.0,Brazilian,12/29/2023,Violations were cited in the following area(s).,20-01,Food allergy information poster not conspicuou...,Not Critical,NaN,NaN,NaN,2/5/2024,Administrative Miscellaneous / Initial Inspection,40.720732,-74.000444
85622,MORA BAKERY,Bronx,10454.0,Bakery Products/Desserts,12/29/2023,Violations were cited in the following area(s).,28-06,Contract with a pest management professional n...,Not Critical,12.0,A,12/29/2023,2/5/2024,Cycle Inspection / Initial Inspection,40.807099,-73.918200
85623,SAZON LATINO,Bronx,10459.0,Latin American,12/29/2023,Violations were cited in the following area(s).,10F,Non-food contact surface or equipment made of ...,Not Critical,27.0,NaN,NaN,2/5/2024,Cycle Inspection / Initial Inspection,40.823952,-73.894617
85624,COFFEE FACTORY,Queens,11354.0,Coffee/Tea,12/29/2023,Violations were cited in the following area(s).,04L,Evidence of mice or live mice in establishment...,Critical,27.0,NaN,NaN,2/5/2024,Cycle Inspection / Initial Inspection,40.763208,-73.814224
85625,JACKS COFFEE,Manhattan,10014.0,Coffee/Tea,12/29/2023,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rins...",Critical,10.0,A,12/29/2023,2/5/2024,Cycle Inspection / Initial Inspection,40.734582,-74.000595

# Rename Columns

In [35]:
#rename DBA column to NAME
df_1.rename(columns = {'DBA':'NAME'}, inplace = True)

In [22]:
# change name of CANTINA CAQUERIA & TEQUILIA BAR to CANTINA TAQUERIA & TEQUILIA BAR
df_1.rename({'CANTINA CAQUERIA & TEQUILIA BAR' : 'CANTINA TAQUERIA & TEQUILIA BAR'}, inplace = True)

# Data Types

In [15]:
#check data types
df_1.dtypes

DBA                       object
BORO                      object
ZIPCODE                  float64
CUISINE DESCRIPTION       object
INSPECTION DATE           object
ACTION                    object
VIOLATION CODE            object
VIOLATION DESCRIPTION     object
CRITICAL FLAG             object
SCORE                    float64
GRADE                     object
GRADE DATE                object
RECORD DATE               object
INSPECTION TYPE           object
Latitude                 float64
Longitude                float64
dtype: object

In [16]:
#check for mixed types
for col in df_1.columns.tolist():
  weird = (df_1[[col]].map(type) != df_1[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_1[weird]) > 0:
    print (col)

VIOLATION CODE
VIOLATION DESCRIPTION
GRADE
GRADE DATE

In [17]:
#change to uniform data types
df_1['VIOLATION CODE'] = df_1['VIOLATION CODE'].astype('str')

In [18]:
df_1['VIOLATION DESCRIPTION'] = df_1['VIOLATION DESCRIPTION'].astype('str')

In [19]:
df_1['GRADE'] = df_1['GRADE'].astype('str')

In [20]:
#change data type to date
df_1['GRADE DATE'] = pd.to_datetime(df_1['GRADE DATE'])

# Find Missing Values

In [23]:
#find out which columns have missing values
df_1.isnull().sum()

DBA                          0
BORO                         0
ZIPCODE                    879
CUISINE DESCRIPTION          0
INSPECTION DATE              0
ACTION                       0
VIOLATION CODE               0
VIOLATION DESCRIPTION        0
CRITICAL FLAG                0
SCORE                     3984
GRADE                        0
GRADE DATE               45741
RECORD DATE                  0
INSPECTION TYPE              0
Latitude                   113
Longitude                  113
dtype: int64

In [28]:
df_1[df_1['ZIPCODE'].isnull()==True]

,NAME,BORO,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,Latitude,Longitude
50,Caribbean Flower,Manhattan,NaN,Caribbean,1/3/2023,Violations were cited in the following area(s).,10G,Dishwashing and ware washing: Cleaning and sa...,Not Critical,27.0,N,NaT,2/5/2024,Pre-permit (Operational) / Initial Inspection,0.0,0.0
129,Caribbean Flower,Manhattan,NaN,Caribbean,1/3/2023,Violations were cited in the following area(s).,02B,Hot TCS food item not held at or above 140 Â°F.,Critical,27.0,N,NaT,2/5/2024,Pre-permit (Operational) / Initial Inspection,0.0,0.0
181,Caribbean Flower,Manhattan,NaN,Caribbean,1/3/2023,Violations were cited in the following area(s).,05D,No hand washing facility in or adjacent to toi...,Critical,27.0,N,NaT,2/5/2024,Pre-permit (Operational) / Initial Inspection,0.0,0.0
292,Caribbean Flower,Manhattan,NaN,Caribbean,1/3/2023,Violations were cited in the following area(s).,06E,"Sanitized equipment or utensil, including in-u...",Critical,27.0,N,NaT,2/5/2024,Pre-permit (Operational) / Initial Inspection,0.0,0.0
393,BRASS RIZ & GRILL EXPRESS,Queens,NaN,Creole,1/4/2023,Violations were cited in the following area(s).,02B,Hot TCS food item not held at or above 140 Â°F.,Critical,25.0,B,2023-01-04,2/5/2024,Cycle Inspection / Re-inspection,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84838,LA ISLA CUCHIFRITOS,Bronx,NaN,Latin American,12/26/2023,Violations were cited in the following area(s).,10B,Anti-siphonage or back-flow prevention device ...,Not Critical,51.0,Z,2023-12-26,2/5/2024,Cycle Inspection / Re-inspection,0.0,0.0
84842,LA ISLA CUCHIFRITOS,Bronx,NaN,Latin American,12/26/2023,Violations were cited in the following area(s).,10F,Non-food contact surface or equipment made of ...,Not Critical,51.0,Z,2023-12-26,2/5/2024,Cycle Inspection / Re-inspection,0.0,0.0
84866,LA ISLA CUCHIFRITOS,Bronx,NaN,Latin American,12/26/2023,Violations were cited in the following area(s).,05H,No approved written standard operating procedu...,Critical,51.0,Z,2023-12-26,2/5/2024,Cycle Inspection / Re-inspection,0.0,0.0
84883,LA ISLA CUCHIFRITOS,Bronx,NaN,Latin American,12/26/2023,Violations were cited in the following area(s).,06C,"Food, supplies, or equipment not protected fro...",Critical,51.0,Z,2023-12-26,2/5/2024,Cycle Inspection / Re-inspection,0.0,0.0
85387,NEXT by 4West,Manhattan,NaN,American,12/28/2023,Violations were cited in the following area(s).,06C,"Food, supplies, or equipment not protected fro...",Critical,5.0,A,2023-12-28,2/5/2024,Cycle Inspection / Re-inspection,0.0,0.0

Not all restaurants received scores and grades so null values are to be expected in those columns.

In [37]:
#create new df without missing zip codes
df_1_clean = df_1[df_1['ZIPCODE'].isnull()==False]

In [25]:
#confirm all null zip codes were dropped
df_1_clean.isnull().sum()

DBA                          0
BORO                         0
ZIPCODE                      0
CUISINE DESCRIPTION          0
INSPECTION DATE              0
ACTION                       0
VIOLATION CODE               0
VIOLATION DESCRIPTION        0
CRITICAL FLAG                0
SCORE                     3950
GRADE                        0
GRADE DATE               45359
RECORD DATE                  0
INSPECTION TYPE              0
Latitude                   113
Longitude                  113
dtype: int64

# Consolidate all Dunkin restaurants under one name

In [44]:
# consolidate all Dunkin restaurant names
df_1_clean.rename({'Dunkin Donuts' : 'DUNKIN'}, inplace = True)

In [65]:
df_1_clean.rename({'DUNKIN99' : 'DUNKIN'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\40519786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN99' : 'DUNKIN'}, inplace = True)

In [51]:
df_1_clean.rename({'DUNKIN DONUTS' : 'DUNKIN'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\3657487937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN DONUTS' : 'DUNKIN'}, inplace = True)

In [54]:
df_1_clean[df_1_clean['NAME'] == 'DUNKIN DONUTS']

Empty DataFrame
Columns: [NAME, BORO, ZIPCODE, CUISINE DESCRIPTION, INSPECTION DATE, ACTION, VIOLATION CODE, VIOLATION DESCRIPTION, CRITICAL FLAG, SCORE, GRADE, GRADE DATE, RECORD DATE, INSPECTION TYPE, Latitude, Longitude]
Index: []

In [83]:
df_1_clean.rename({'DUNKIN\' DONUTS' : 'DUNKIN'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\4209553816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN\' DONUTS' : 'DUNKIN'}, inplace = True)

In [ ]:
df_1_clean.rename({'DUNKIN\' DONUTS' : 'DUNKIN'}, inplace = True)

In [87]:
df_1_clean.rename({'DUNKIN\',\' BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\2596829970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN\',\' BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

In [86]:
df_1_clean.rename({'DUNKIN\', BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\1882140518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN\', BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

In [84]:
df_1_clean.rename({'DUNKIN/'' BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\1717075392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN/'' BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

In [55]:
df_1_clean.rename({'DUNKIN - BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\2758962932.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN - BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

In [56]:
df_1_clean.rename({'DUNKIN & BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\3788923844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN & BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

In [57]:
df_1_clean.rename({'DUNKIN , BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\150896543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN , BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

In [58]:
df_1_clean.rename({'DUNKIN / BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\3958797314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN / BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

In [60]:
df_1_clean.rename({'DUNKIN BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\4037437683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

In [61]:
df_1_clean.rename({'DUNKIN BASKIN ROBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\3987184997.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN BASKIN ROBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

In [62]:
df_1_clean.rename({'DUNKIN DONUTS BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\2298976585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN DONUTS BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

In [63]:
df_1_clean.rename({'DUNKIN/BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\606318163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN/BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

In [64]:
df_1_clean.rename({'DUNKIN-BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_49480\2271720349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_clean.rename({'DUNKIN-BASKIN ROBBINS' : 'DUNKIN, BASKIN ROBBINS'}, inplace = True)

# Find Duplicate Values

In [88]:
#to find duplicate values
df_dups = df_1_clean[df_1_clean.duplicated()]

In [89]:
df_dups

,NAME,BORO,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,Latitude,Longitude
17106,GARDEN PUB,Manhattan,10121.0,American,3/4/2023,No violations were recorded at the time of thi...,nan,nan,Not Applicable,0.0,A,2023-03-04,2/5/2024,Cycle Inspection / Initial Inspection,40.750655,-73.991944
33114,SHERATON NEW YORK HOTEL & TOWERS,Manhattan,10019.0,American,4/24/2023,Violations were cited in the following area(s).,20-08,Failure to post or conspicuously post healthy ...,Not Critical,NaN,nan,NaT,2/5/2024,Administrative Miscellaneous / Initial Inspection,40.762668,-73.982095
34941,HOT DOG CONCESSION,Manhattan,10121.0,Hotdogs/Pretzels,4/29/2023,No violations were recorded at the time of thi...,nan,nan,Not Applicable,0.0,A,2023-04-29,2/5/2024,Cycle Inspection / Initial Inspection,40.750655,-73.991944
34955,HOT DOG CONCESSION,Manhattan,10121.0,Hotdogs/Pretzels,4/29/2023,No violations were recorded at the time of thi...,nan,nan,Not Applicable,0.0,A,2023-04-29,2/5/2024,Cycle Inspection / Initial Inspection,40.750655,-73.991944
34959,HOT DOG CONCESSION,Manhattan,10121.0,Hotdogs/Pretzels,4/29/2023,No violations were recorded at the time of thi...,nan,nan,Not Applicable,0.0,A,2023-04-29,2/5/2024,Cycle Inspection / Initial Inspection,40.750655,-73.991944
34966,HOT DOG CONCESSION,Manhattan,10121.0,Hotdogs,4/29/2023,No violations were recorded at the time of thi...,nan,nan,Not Applicable,0.0,A,2023-04-29,2/5/2024,Cycle Inspection / Initial Inspection,40.750655,-73.991944
34967,HOT DOG CONCESSION,Manhattan,10121.0,Hotdogs/Pretzels,4/29/2023,No violations were recorded at the time of thi...,nan,nan,Not Applicable,0.0,A,2023-04-29,2/5/2024,Cycle Inspection / Initial Inspection,40.750655,-73.991944

In [90]:
#drop duplicates
df_rest = df_1_clean.drop_duplicates()

Confirm duplicates were dropped

In [70]:
df_1_clean.shape

(84747, 16)

In [71]:
df_dups.shape

(7, 16)

In [69]:
df_rest.shape

(84740, 16)

In [91]:
#export cleaned df_rest as csv file
df_rest.to_csv(os.path.join(path, '02 Data','Prepared Data', 'inspections_cleaned.csv'))

In [76]:
df_rest.dtypes

NAME                             object
BORO                             object
ZIPCODE                         float64
CUISINE DESCRIPTION              object
INSPECTION DATE                  object
ACTION                           object
VIOLATION CODE                   object
VIOLATION DESCRIPTION            object
CRITICAL FLAG                    object
SCORE                           float64
GRADE                            object
GRADE DATE               datetime64[ns]
RECORD DATE                      object
INSPECTION TYPE                  object
Latitude                        float64
Longitude                       float64
dtype: object

In [78]:
df_rest.describe()

,ZIPCODE,SCORE,GRADE DATE,Latitude,Longitude
count,84740.000000,80791.000000,39382,84627.000000,84627.000000
mean,10700.128818,25.416284,2023-06-05 22:20:19.440353536,40.726974,-73.942368
min,10000.000000,0.000000,2023-01-03 00:00:00,40.499563,-74.248708
25%,10023.000000,12.000000,2023-03-07 00:00:00,40.686152,-73.989457
50%,11004.000000,21.000000,2023-05-15 00:00:00,40.732163,-73.957767
75%,11230.000000,33.000000,2023-09-11 00:00:00,40.761351,-73.900046
max,11697.000000,168.000000,2023-12-29 00:00:00,40.910473,-73.700928
std,593.168097,18.088945,NaN,0.068254,0.077427

In [81]:
df_rest['SCORE'].median()

21.0

In [82]:
df_rest['GRADE'].value_counts()

GRADE
nan    38682
A      27661
N       6688
B       5867
C       3424
Z       2366
P         52
Name: count, dtype: int64